
<div id="enveloppe-contenu" class="container" style="padding-top: 5%;">
  <div class="d-flex justify-content-center" style="padding-bottom: 5%;">
    <button class="btn btn-primary" style="margin-right: 5%;" >En tant que client</button>
    <button class="btn btn-outline-primary" style="margin-left: 5%;">En tant qu'entreprise</button>
  </div>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
  
        <div style="padding-left: 20%; padding-right: 20%;">
          <div class="form-outline mb-4 ">
            <input type="email" id="loginName" placeholder="Email" class="form-control" [(ngModel)]="emailconnect" />
          </div>
          <div class="form-outline mb-4">
            <input type="password" id="loginPassword" placeholder="Mot de passe" class="form-control"  [(ngModel)]="mdpconnect" />
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-6 d-flex justify-content-center">
            <div class="form-check mb-3 mb-md-0">
              <input class="form-check-input" type="checkbox" id="loginCheck"  />
              <label class="form-check-label" for="loginCheck"> Se rappeler de moi </label>
            </div>
          </div>

          <div class="col-md-6 d-flex justify-content-center">
            <a href="#">Mot de passe oubliée ?</a>
          </div>
        </div>

        <div class="text-center" style="padding-bottom: 2%; padding-top: 4%;">
          <button (click)="ngOnInit()" style="margin-right: 2%;" class=" btn btn-danger btn-block mb-4 w-25">Annuler</button>
          <button type="submit" (click)="SeConnecter()" style="margin-left: 2%;" class=" btn btn-primary btn-block mb-4 w-25">Se connecter</button>
        </div>

        <div class="text-center">
          <p>Pas de compte ? <a href="#!">S'inscrire</a></p>
        </div>
      
  </div>
</div>
