<div id="enveloppe-contenu" class="container">
  <div *ngFor="let item of (CatProd | keyvalue)">
    <div class="text-center h2">{{item.key}}</div>
      <div class="d-flex flex-row" *ngFor="let res of Produit"  >
        <div *ngIf="item.key == res.lib" class="col py-1">
          <div class="card" style="height: 200px;">
            <h5 class="card-header text-truncate">{{res.libelle}}</h5>
            <div class="card-body">
              <h6 class="card-title text-truncate">{{res.description}}</h6>
              <p class="card-text"> {{res.poids_unite}} grammes</p>
              <button type="button" class="btn btn-primary btn-small" (click)=addtocart(res)>Ajouter au panier</button>
          </div>       
      </div>
      </div>
    </div>
  </div>        
</div>