
  <app-header></app-header>
  <div id="conteneur-page">
  <router-outlet></router-outlet>
  <footer id="pied-de-page" class=" d-flex flex-wrap align-items-center justify-content-around justify-content-md-around" 
  style="background : #292F33;">
    <p class="col-md-4 mb-0 text-light" style="padding-left: 6%; white-space: nowrap;" >©Copyright 2022 FireCrest</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end" style="padding-right: 6%; white-space: nowrap;">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Mentions légales</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Conditions générales d'utilisation</a></li>
    </ul>
    
  </footer>
</div>
